/* Header Component */
.main-header{
    display: flex;
    justify-content: space-between;
}

.main-logo{    
    height: 50px;
    width: 50px;
    background-image: url(Asset/phi-logo.png);
    border-radius: 50%;
    background-size: cover;
    background-position: center;
}

nav{
    display: flex;
    justify-items: center;
}